astropy
astroquery
flask
flask-restx
pandas
numpy
#fink-filters==7.15-rc0
git+https://github.com/astrolabsoftware/fink-filters@7.15-rc0
fink-utils==0.52.0
line_profiler
requests
pyarrow
matplotlib
py4j
PyYAML
pyspark
healpy
space-rocks
scipy
lxml
sbpy
prometheus_flask_exporter
